<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- TinyApp CSS -->
    <link rel="stylesheet" href="/stylesheets/app.css">

    <title>tinyapp. - login</title>
  </head>
  <body>

    <%- include("partials/_header.ejs", {userData}) %>
    
    <div class="container">

      <main class="d-flex justify-content-center">

        <div class="card" style="max-width: 550px">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1586527155314-1d25428324ff?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" alt="puzzle pieces">
          <div class="card-body">

            <h5 class="card-title">Login</h5>

            <form class="form" action="/login" method="POST">
              <div class="form-group mb-2">
                <label for="email" class="form-label">Email</label>
                <input class="form-control" type="email" name="email" required>
                <label for="password" class="form-label">Password</label>
                <input class="form-control" type="password" name="password" pl required>
                <button type="submit" class="btn btn-primary btn-block mt-3">Login</button>
              </div>
            </form>

            <p class="text-muted mt-4">First time here? <a class="tinyapp-link" href="/register">Create an account</a>. It's free! :)</p>

          </div>
        </div>

      </main>

    </div>
  
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>