:root {
  --tinyapp-primary: rgb(33, 36, 65);
  --tinyapp-secondary: rgb(82, 86, 117);
  --tinyapp-tertiary: rgb(144, 147, 179);
  --tinyapp-white: rgb(231, 231, 231);
}

.card {
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.24);
  color: var(--tinyapp-primary);
}

body {
  background-color: rgb(10, 10, 20);
  color: var(--tinyapp-white);
}

.nav-tinyapp-link {
  color: var(--tinyapp-primary) !important;
}

.nav-tinyapp-link:hover,
.tinyapp-link:hover {
  color: var(--tinyapp-tertiary) !important;
  text-decoration: none;
}

hr,
.navbar-tinyapp {
  background-color: var(--tinyapp-white) !important;
}
