:root {
  --tinyapp-primary: rgb(33, 36, 65);
  --tinyapp-secondary: rgb(64, 68, 99);
  --tinyapp-tertiary: rgb(95, 102, 153);
  --tinyapp-highlight: rgb(255, 255, 255);
  --tinyapp-white: rgb(231, 231, 231);
}

.highlight {
  color: var(--tinyapp-highlight);
  font-weight: 500;
}

.card {
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.24);
  color: var(--tinyapp-primary);
}

body {
  background-color: rgb(10, 10, 20);
  color: var(--tinyapp-white);
}

.nav-tinyapp-link {
  color: var(--tinyapp-primary) !important;
}

.nav-tinyapp-link:hover,
.tinyapp-link:hover {
  color: var(--tinyapp-tertiary) !important;
  text-decoration: none;
}

.tinyapp-link {
  font-size: 1em;
  line-height: 2.4em;
}

hr,
.navbar-tinyapp {
  background-color: var(--tinyapp-white) !important;
}
